/* Header */
#mainNav {
    padding: 0 !important;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    background-color: #fff;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-transition: .5s;
    transition: .5s;
    /*box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.075);*/
    border-bottom: 1px solid #c4c4c4;
}
#mainNav .navbar-toggler, #mainNav .navbar-toggler:focus {
    color: rgba(126, 126, 126, 0.5);
    border-color: transparent;
    outline: none;
}
#mainNav > .container-fluid {
    align-items: flex-end;
}
#mainNav > .container-fluid, #div-footer > .container-fluid, #main-content > .container-fluid {
    max-width: 1200px;
}
#logo-header {
    height: 50px;
}
.navbar-brand {
    margin: 0.5rem 1rem;
}
#header-label {
    font-weight: 300;
    color: var(--dark);
    font-size: 1.2rem;
    align-self: center;
}
#mainNav .navbar-nav {
    align-items: flex-end;
}
#mainNav .nav-link {
    color: var(--dark-blue) !important;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    padding: 1.5rem;
    max-width: 170px;
    line-height: 1;
}
#mainNav .nav-link:hover, #mainNav .nav-link.active {
    border-bottom: 3px solid var(--dark-blue);
}
#mainNav .dropdown-menu {
    margin-top: -3px;
    border: 0;
    border-top: 3px solid var(--dark-blue) !important;
    max-width: 100%;
    width: 100%;
    box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.075);
    padding: 0;
}
#mainNav .dropdown-toggle::after {
    border: 0px !important;
    content: none;
}
#mainNav .dropdown-item {
    white-space: inherit;
    color: var(--dark-blue) !important;
    font-weight: normal;
    line-height: 1.2;
}
#mainNav .dropdown-item:active {
    color: var(--dark-blue) !important;
    background-color: #f8f9fa;
}
.navbar-light .nav-btn {
    margin: 1rem;
}
@media (max-width: 991px) {
    #mainNav .navbar-nav {
        align-items: flex-start;
    }
    #mainNav .nav-link {
        border-bottom: none;
        border-left: 3px solid transparent;
        padding: 0.5rem 1rem;
        padding-left: 10px;
        max-width: 100% !important;
    }
    #mainNav .nav-link:hover, #mainNav .nav-link.active, #mainNav .nav-item.show .nav-link {
        border-bottom: none;
        border-left: 3px solid var(--dark-blue);
    }
    #mainNav .dropdown-menu {
        background-color: #f8f9fa;
        margin: 0 1rem;
        border-top: none !important;
        width: auto;
        box-shadow: none;
    }
    .navbar-light .nav-btn {
        margin-left: 0.5rem;
    }
}
@media (max-width: 575px) {
    #header-label {
        display: none;
    }
}
/* Footer */
#up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    cursor: pointer;
}
#up .ico {
    width: 50px;
    height: 50px;
    font-size: 32px;
    line-height: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.28);
    font-weight: bolder;
    border-radius: 50px;
}
#logo-footer {
    height: 50px;
}
footer .social {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;    
    color: #363636;
    border-width: 1px #fff solid;
    margin: 0 1px;
    border-radius: 40px;
    background-color: #fff;
}
footer .social:hover {
    color: #363636 !important; 
}
footer hr {
    border-bottom: 1px solid #fff;
    max-width: 960px;
    margin: 10px auto;
}
#div-footer {
    color: #fff;
    background-color: var(--dark); 
}
#div-footer-gob {
    color: #fff;
    background-color: #1d264f;
}
/* Cuerpo */
#main-content {
    padding-top: 75px;
    padding-bottom: 30px;
    min-height: calc(100vh - 200px);
}
.banner-section {
    padding: 50px 0 140px 0;
    background-color: #e5f7fb;
}
#pagina {
    display: flex;
    align-items: flex-start;
    margin-top: -100px;
    margin-bottom: 30px;
    z-index: 100;
}
#cuerpo {
    align-self: stretch;
    flex-grow: 1;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    max-width: 920px;
    margin: 0 auto;
}
#cuerpo .seccion {
    padding: 2.5rem;
    background-color: #fff;
    min-height: 450px;
    /*box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.075);*/
    border: 1px solid #c4c4c4;
}
#cuerpo .imagen {
    border: 1px solid #c4c4c4;
}
@media (max-width: 767px) {
    #cuerpo .seccion {
        padding: 1.5rem;
    }
}
/* Iconos */
.ico {
    display: inline-block;
    vertical-align: text-bottom;
    text-align: center;
    text-decoration: none;
}
.doc:before, .rtf:before, .xls:before, .pdf:before, .zip:before, .img:before, .txt:before, .grid:before, .link:before, .blank:before {
    font-family: 'outline';
    padding-right: 10px;
    vertical-align: top;
    font-weight: normal !important;
}
a.doc, a.rtf, a.xls, a.pdf, a.zip, a.img, a.txt, .grid, a.grid, a.link, a.blank, a.doc:hover, a.rtf:hover, a.xls:hover, a.pdf:hover, a.zip:hover, a.img:hover, a.txt:hover, a.grid:hover, a.link:hover, a.blank:hover {
    text-decoration: none;
    text-indent: -22px;
    padding-left: 22px;
    display: inline-block;
}
a.doc:before, a.rtf:before {
    color: #0650a1;
    content: "\e941";
}
a.xls:before {
    color: #0a0;
    content: "\e9d2";
}
a.pdf:before {
    color: #da2713;
	content: "\e98d";
}
a.zip:before {
    color: #ff8400;
    content: "\e9d5";
}
a.img:before {
    color: #ff8400;
    content: "\e96b";
}
a.txt:before {
    color: #7e7e7e;
    content: "\e9bf";
}
a.grid:before, .grid:before {
    color: #7e7e7e;
    content: "\e95c";
}
a.link:before {
    color: var(--blue);
    content: "\e972";
}
a.blank:before {
    color: var(--dark-blue);
    content: "\e90d";
}
/* Títulos */
.page-title {
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: bold;
}
.page-title.strong {
    font-weight: 900;
}
.section-title {
    color: var(--dark);
    font-size: 1.75rem;
    font-weight: bold;
}
.subtitle {
    color: var(--dark);
    font-size: 1.25rem;
    font-weight: bold;
}
.subtitle.light {
    color: var(--gray-dark);
    font-weight: 300;
}
/* Sitio */
.title-equals{
    min-height: 105px;
    display: flex;
    align-items: center;
}
.blue-hr hr{
    padding: 2px;
}
.hr-blue{
    border-bottom: 2px solid #1d264f;
    max-width: 50px;
    margin: 1px auto;
}
@media (max-width: 767px) {
    .title-equals{
        min-height: 75px;
    }
    .center-movil{
        text-align: center;
    }
}