@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-Regular.woff2') format('woff2'),
        url('fonts/Panton-Regular.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-Bold.woff2') format('woff2'),
        url('fonts/Panton-Bold.woff') format('woff');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-BoldItalic.woff2') format('woff2'),
        url('fonts/Panton-BoldItalic.woff') format('woff');
    font-weight:bold;
    font-style:italic;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-Light.woff2') format('woff2'),
        url('fonts/Panton-Light.woff') format('woff');
    font-weight:300;
    font-style:normal;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-LightItalic.woff2') format('woff2'),
        url('fonts/Panton-LightItalic.woff') format('woff');
    font-weight:300;
    font-style:italic;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-ExtraBlack.woff2') format('woff2'),
        url('fonts/Panton-ExtraBlack.woff') format('woff');
    font-weight:900;
    font-style:normal;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-ExtraBlackItalic.woff2') format('woff2'),
        url('fonts/Panton-ExtraBlackItalic.woff') format('woff');
    font-weight:900;
    font-style:italic;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(136, 136, 136, 0.80);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(102, 102, 102, 0.40);
}
:root {
    --dark-blue: #0074c5;
    --light-blue: #e5f7fb;
}
html, body {
    font-family: 'Panton';
    font-size: 16px;
    color: #7e7e7e;
}
body.popup {
    padding: 15px;
    background-color: #fff;
    max-width: 1024px;
}
a, a:focus, a:hover {
    text-decoration: none;
}
p {
    margin: 20px 0 !important;
}
pre {
    margin-bottom: 0;
}
input[type=checkbox], input[type=radio] {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
}
select.w-auto {
    padding: 0.375rem 2rem 0.375rem 0.75rem;
    display: inline-block;
}
label {
    color: var(--dark);
    font-weight: bold;
}
label.required:after {
    content: "*";
    display: inline-block;
    color: var(--blue);
    padding-left: 3px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 1.5rem;
}
.list-inline li {
    display: inline-block;
}
.list-inline li:not(:last-child) {
    margin-right: 0.5rem;
}
.valid-feedback, .invalid-feedback {
    font-weight: bold;
}
.form-check-label, .custom-control-label {
    display: inline;
    font-weight: normal;
}
.table {
    border-bottom: 1px solid #eee9f6;
}
.table-borderless {
    border: 0;
}
.table th, .table-borderless th, .table-borderless thead th {
    border-top: none;
    border-bottom: 2px solid #242f62;
}
.table .thead-light th {
    border-bottom: 2px solid #4ca6e0;
}
.table-active {
    border: 2px solid var(--blue) !important;
}
.input-group > .input-group-append > .btn, .input-group > .input-group-prepend:not(:first-child) > .btn {
    border-width: 1px;
}
.mw-xs {
    max-width: 360px;
}
.mw-sm {
    max-width: 540px;
}
.mw-md {
    max-width: 720px;
}
.mw-lg {
    max-width: 960px;
}
.no-display {
    display: none;
}
.btn-pag {
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
}
.btn-pag .ico {
    vertical-align: text-top;
    line-height: 1rem;
    font-weight: bold;
}
.btn-outline-dark-blue, .btn-outline-dark-blue.disabled, .btn-outline-dark-blue:disabled {
    color: #0074c5;
    border-color: #0074c5;
}
.btn-dark-blue, .btn-dark-blue.disabled, .btn-dark-blue:disabled, .btn-outline-dark-blue:hover {
    color: #fff;
    background-color: #0074c5;
    border-color: #0074c5;
}
.btn-dark-blue:hover, .btn-dark-blue:focus, .btn-dark-blue.focus {
    color: #fff;
    background-color: #005d9f;
    border-color: #005692;
}
.btn-dark-blue:focus, .btn-dark-blue.focus, .btn-outline-dark-blue:focus, .btn-outline-dark-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 137, 206, 0.5);
}
.btn-teal, .btn-teal.disabled, .btn-teal:disabled {
    color: #fff;
    background-color: #27bea7;
    border-color: #27bea7;
}
.btn-teal:hover, .btn-teal:focus, .btn-teal.focus {
    color: #fff;
    background-color: #209e8b;
    border-color: #1e9482;
}
.btn-teal:focus, .btn-teal.focus {
    box-shadow: 0 0 0 0.2rem rgba(71, 200, 180, 0.5);
}
.btn-light-blue, .btn-light-blue.disabled, .btn-light-blue:disabled {
    color: #4ca6e0;
    background-color: #e5f7fb;
    border-color: #e5f7fb;
}
.btn-light-blue:hover, .btn-light-blue:focus, .btn-light-blue.focus {
    color: #4ca6e0;
    background-color: #c4edf6;
    border-color: #b9e9f4;
}
.btn-light-blue:focus, .btn-light-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(233, 248, 252, 0.5);
}
.btn-outline-red, .btn-outline-red.disabled, .btn-outline-red:disabled {
    color: #ff3333;
    border-color: #ff3333;
}
.btn-red, .btn-red.disabled, .btn-red:disabled, .btn-outline-red:hover {
    color: #fff;
    background-color: #ff3333;
    border-color: #ff3333;
}
.btn-red:hover, .btn-red:focus, .btn-red.focus {
    color: #fff;
    background-color: #ff0d0d;
    border-color: #red;
}
.btn-red:focus, .btn-red.focus, .btn-outline-red:focus, .btn-outline-red.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 82, 82, 0.5);
}
.bg-dark-blue {
    background-color: var(--dark-blue);
}
.bg-light-blue {
    background-color: var(--light-blue);
}
.text-dark-blue {
    color: var(--dark-blue);
}
.text-blue {
    color: var(--blue);
}
.text-indigo {
    color: var(--indigo);
}
.text-purple {
    color: var(--purple);
}
.text-pink {
    color: var(--pink);
}
.text-red {
    color: var(--red);
}
.text-orange {
    color: var(--orange);
}
.text-yellow {
    color: var(--yellow);
}
.text-green {
    color: var(--green);
}
.text-teal {
    color: var(--teal);
}
.text-cyan {
    color: var(--cyan);
}
.badge-red {
    color: #fff;
    background-color: #ff3333;
}
.badge-dark-blue {
    color: #fff;
    background-color: #0074c5;
}
.badge-teal {
    color: #fff;
    background-color: #27bea7;
}
.text-white a, .text-white a:hover, .text-white a:focus {
    color: #fff;
}
/* Iconos */
.ico {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: text-bottom;
}
.ico.ico-doc.color {
    color: var(--dark-blue);
}
.ico.ico-link.color {
    color: var(--blue);
}
.ico.ico-xls.color {
    color: var(--green);
}
.ico.ico-pdf.color {
	color: var(--red);
}
.ico.ico-zip.color, .ico.ico-img.color, .ico.ico-txt.color {
    color: var(--warning);
}
.ico16 {
    font-size: 16px;
}
.ico20 {
    font-size: 20px;
}
.ico24 {
    font-size: 24px;
}
.ico32 {
    font-size: 32px;
}
.ico40 {
    font-size: 40px;
}
/* Cards */
.card-primary, .modal-content {
    border-top: 5px solid var(--primary);
}
.card-primary .card-title, .modal-title {
    color: var(--dark);
    font-size: 1.25rem;
    font-weight: bold;
}
.card-header {
    padding: 1rem 1rem;
    background-color: transparent;
    border-bottom: none;
}
.card-title {
    margin-bottom: 0;
    line-height: 1.5;
}
.modal-content .close:focus {
    outline:none;
}
/* Controles estilizados */
/* Ul */
ul.vin-list {
    list-style: none;
}
ul.vin-list li {
    display: block;
    position: relative;
}
ul.vin-list li:before {
    content: url("../img/vin.png");
    position: absolute;
    display: block;
    left: -30px;
}
/* Table */
@media (max-width: 767px) {
    .style-table thead th + th {
        display: none;
    }
    .style-table th, .style-table td { 
		display: block; 
	}
    .style-table td {
        padding: 0 5px;
        border-top: none;
    }
    .style-table tr td:first-child {
        padding-top: 5px;
    }
    .style-table tr td:last-child {
        padding-bottom: 5px;
    }
    .style-table tr {
        border-top: 1px solid #dee2e6;
    }
    .style-table .text-center, .style-table .text-right {
        text-align: left;
    }
    .style-table td[data-th]:not(:empty):before {
        content: attr(data-th);
        font-weight: bold;
        width: 30%;
        margin-right: 10px;
        display: inline-block;
    }
}
@media (max-width: 575px) {
    .style-table td[data-th]:not(:empty):before {
        width: 100%;
        margin-right: 0;
        display: block;
    }
}
/* Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%2300a8e4%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%2300a8e4%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: 0.8em;
    background-position: calc(100% - 0.8em) center;
    background-repeat: no-repeat;
}
.style-select select {
    display: none;
}
.style-select .dropdown-toggle {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.4rem 0.375rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666666;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.2rem;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%2300a8e4%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%2300a8e4%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: 0.8em;
    background-position: calc(100% - 0.8em) center;
    background-repeat: no-repeat;
}
.style-select .dropdown-toggle:focus {
    border-color: #65d6ff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 168, 228, 0.25);
}
.style-select .dropdown-toggle::after {
    display: none;
}
.style-select .option {
    display: inline-block;
    width: calc(100% - 24px);
    text-align: left;
    margin-right: auto;
    overflow: hidden;
    vertical-align: text-bottom;
}
.style-select .dropdown-menu {
    width: 100%;
    height: auto;
    padding: 0;
    max-height: 200px;
    overflow-x: hidden;
}
.style-select .dropdown-menu > a {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    clear: both;
    font-weight: 400;
    color: #666666;
    white-space: normal;
    line-height: 1.2;
}
.style-select .dropdown-menu > a:hover, .style-select .dropdown-menu > a:focus, .style-select .dropdown-menu > a.selected {
    background-color: #f9f9f9;
    text-decoration: none;
}
select.is-valid, .style-select .dropdown-toggle.is-valid {
    border-color: #76bd1d;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2376bd1d' d='M 7.4428356,1.0807362 A 0.54014586,0.54014586 0 0 0 7.0715231,1.2436077 L 2.7009984,5.6141323 0.92291474,3.8360484 A 0.54063099,0.54063099 0 1 0 0.15834728,4.6006163 L 2.3187147,6.7609837 a 0.54014586,0.54014586 0 0 0 0.7645675,0 L 7.8360905,2.0081752 A 0.54014586,0.54014586 0 0 0 7.4428356,1.0807362 Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
select.is-invalid, .style-select .dropdown-toggle.is-invalid {
    border-color: #f3841c;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23f3841c' d='M 1.5829923,1.0804745 A 0.50295577,0.50295577 0 0 0 1.2325301,1.9440574 L 3.2905137,4.0020409 1.2325301,6.0600243 A 0.50340749,0.50340749 0 1 0 1.9444556,6.7719501 L 4.0024392,4.7139664 6.0604226,6.7719501 A 0.5034077,0.5034077 0 1 0 6.7723488,6.0600243 L 4.7143647,4.0020409 6.7723488,1.9440574 A 0.5034076,0.5034076 0 1 0 6.0604226,1.2321319 L 4.0024392,3.2901154 1.9444556,1.2321319 A 0.50295577,0.50295577 0 0 0 1.5829923,1.0804745 Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
/* File */
.style-file input[type="file"] {
    display: none !important;
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
}
.style-file .form-control[readonly] {
    cursor: default !important;
    background-color: transparent !important;
}
/* Tabs */
.tabs {
    padding-bottom: 1rem;
}
.tabs .nav {
    margin-bottom: 1rem;
}
.tabs .nav-item, .tab-header {
    color: var(--gray);
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}
.tabs .nav-item {
    padding: 0.5rem 1rem;
    border-bottom: 3px solid var(--light);
}
.tabs a.nav-item:hover, .tabs a.nav-item:focus, .tabs .nav-item.active {
    color: var(--primary);
    border-bottom: 3px solid var(--blue);
    text-decoration: none;
}
.tab-header {
    display: none;
    color: var(--primary);
    font-weight: 600;
    border-bottom: 3px solid var(--blue);
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    align-items: flex-start;
    justify-content: space-between;
}
.tab-header.collapsed {
    color: var(--gray);
    font-weight: 600;
    border-bottom: 3px solid var(--light);
}
.tab-header.collapsed + .tab-body {
    margin-bottom: 0;
}
.tab-body {
    padding: 0 1rem;
}
@media (max-width: 768px) {
    .tabs nav {
        display: none;
    }
    .tab-header {
        display: flex;
    }
}
/* Acordeón */
.accordion > .card {
    border: none;
    border-radius: 0;
}
.accordion .card + .card {
    margin-top: 1rem;
}
.accordion .card-header {
    color: var(--gray);
    margin-bottom: 0 !important;
    padding: 1rem 1rem 0.5rem 1rem;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    border: 1px solid var(--primary);
    cursor: pointer;
}
.accordion .card-title {
    font-weight: 600;
}
.accordion .card-header:not(.collapsed) {
    color: #fff;
    background-color: var(--primary);
    /*border-radius: 0.5rem 0.5rem 0 0 !important;*/
}
.accordion .card-header:hover {
    color: #fff;
    background-color: var(--primary);
}
.accordion .card-body {
    background-color: var(--light);
    padding: 1rem;
}
.accordion .card-title:after {
    font-family: 'outline';
    content: "\e92e";
    float: right;
    font-size: 1.4rem;
}
.accordion .card-header.collapsed .card-title:after {
    content: "\e929";
}
/* Fancybox */
.fancybox-container {
    font-family: 'Panton';
}
.fancybox-close-small:after {
    font-size: 2rem;
    line-height: 1;
}
.fancybox-is-open .fancybox-bg {
    opacity:0.5 !important;
}
.fancybox-bg {
    background:#000 !important;
}    
.fancybox-slide > *, .fancybox-image-wrap, .fancybox-content {
    border-top: 5px solid var(--blue);
}
.fancybox-slide > .fancy-info {
    border-top: 5px solid var(--blue);
    width: 100%;
    max-width: 480px;
}
.fancybox-slide > .fancy-success {
    border-top: 5px solid var(--green);
    width: 100%;
    max-width: 480px;
}
.fancybox-slide > .fancy-error {
    border-top: 5px solid var(--orange);
    width: 100%;
    max-width: 480px;
}
.fancybox-slide > .fancy-warning {
    border-top: 5px solid var(--yellow);
    width: 100%;
    max-width: 480px;
}
.fancybox-slide > .fancy-primary {
    border-top: 5px solid var(--blue);
    width: 100%;
    max-width: 480px;
}
.fancybox-close-small {
    top: 0;
    right: 0;
    outline: none;
}
.fancybox-close-small:hover:after, .fancybox-close-small:focus:after {
    color: #666 !important;
    outline: none !important;
    background: transparent;
}
.fancybox-slide--iframe .fancybox-close-small {
    right: 15px;
}
.fancybox-content {
    width:100%;
	max-width: 1024px !important;
}
/* Impresión */
@media print {
    @page {
        size: letter;
    }
    a[href]:after {
        content: none !important;
    }
}